h2 {
    font-size: 50px;
    padding: 120px 0 20px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.gobottom {
    background: #4a2985;
    border: 1px solid #4a2985;
    font-size: 14px;
    font-weight: bold;
    height: 55px;
    width: 230px;
    padding: 15px;
}

.top-header {
    padding: 0;
}

.header {
    position: absolute;
    z-index: 100;
    width: 98%;
    margin: 40px 0;
}

.header .navbar li {
    margin: 15px;
}

.header .navbar li a {
    font-size: 14px;
    padding: 15px;
}

.header .navbar .btn {
    font-size: 14px;
    width: 140px;
}

.carousel .carousel-inner h2 {
    position: absolute;
    top: -500px;
    right: 37%;
}

.carousel .carousel-inner p {
    position: absolute;
    top: -300px;
}

.carousel .gobottom {
    position: absolute;
    bottom: 45px;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.page1 {
    height: 750px;
    background: #502c91;
}

.page1 .form-control {
    height: 60px;
}

.page2 {
    height: 750px;
    background: #442f7c;
}



.page3 {
    height: 750px;
    background: #3b1d6e;
}

.thanks {
    height: 750px;
    background: #46267e; 
}

.thanks .gobottom {
    margin-top: 30%;
}

@media (max-width: 738px) {
    h2 {
        font-size: 30px;
        padding-top: 20px;
    }

    .page1,
    .page2 {
        height: auto;
    }

    .gobottom {
        margin-bottom: 20px;
    }

    .carousel .carousel-inner p {
        top: -194px;
    }

    .carousel .carousel-inner h2 {
        top: -395px;
    }
 }